PORT=5000
NODE_ENV=development

DB_AUTH=windows
DB_HOST=localhost
DB_INSTANCE=
DB_PORT=1433
DB_ODBC_DRIVER=ODBC Driver 18 for SQL Server
DB_USER=
DB_PASSWORD=
DB_NAME=rashed_db

ADMIN_EMAIL=admin@rashed.com
ADMIN_PASSWORD=RashedAdmin@123
ADMIN_FIRST_NAME=Rashed
ADMIN_LAST_NAME=Admin

